*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

  
    
}
html{ 
    scroll-behavior: smooth;
}
body{
    display: flex;
    width: 100%;
    
    
}
a{
    color:  rgb(77, 78, 83);
    text-decoration: none;
    
}
#navbar{
    
    padding: 20px;
    height: 100vh;
    padding: 1px 0px;
    border-right: 3px solid rgb(95, 88, 88);
    gap: 10px;
    margin-top: 15px 0px;
    position: sticky;
    top: 0;
    overflow-y: auto;


}

#navbar header{
    text-align: left ;
    padding: 10px 5px;
}
#navbar header h1{
    font-size: 24px;
    text-transform: capitalize;
}
#navbar ul li:first-child{
    border-top: 1px solid rgb(99, 94, 94);;
}

.nav{  
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px solid rgb(99, 94, 94);
    text-align: left;
    font-size: larger;

}
main{
    width: 75% ;
    margin: 35px;
    padding: 5px;
}
main  section h1{
    padding: 15px 0px;
    font-size: xx-large;
    font-weight: 300;
    

}
main section p{
    display: block;
    color: rgb(77, 78, 83);
    font-size: large;
    font-weight: 200;
}
main section ul li{
    
    margin: 15px 0px 0px 70px;
    color: rgb(77, 78, 83);
  
}p
.keza{
    display: block;
    background-color:rgb(247, 247, 247) ;
    text-align: left;
    line-height: 2;
    padding: 10px;
    margin: 10px;
    white-space:pre-line ;
    word-break: normal;
    overflow-wrap: normal;
    border-radius: 5px;
    color: rgb(77, 78, 83);

}
.sonia{
    display: block;
    background-color:rgb(247, 247, 247) ;
    text-align: left;
    line-height: 1;
    padding: 10px;
    margin: 10px;
    white-space:pre-line ;
    word-break: normal;
    overflow-wrap: normal;
    border-radius: 5px;
    color: rgb(77, 78, 83);


}
.divine ol li{
    margin: 15px 0px 0px 100px;
    color: rgb(77, 78, 83);
    list-style: circle;
}